# Dependencies
node_modules/
frontend/node_modules/

# Next.js
.next/
out/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
*.db-journal
*.db-shm
*.db-wal
pulse.db
pulse.db-journal
pulse.db-shm
pulse.db-wal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
scripts/*.log

# Operating System
.DS_Store
*.pem

# User specific IGNORED per request
*.md
!README.md
devdoc/
devdocs/
frevamp/
